<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.greenseedmusic.TrinityV1" version="1.0.0">
    <name>Trinity Rehab</name>
    <description>Client side appliation to aid in in delivery of workout plans</description>
    <author href="http://greenseedmusic.com" email="soundsgood@greenseedmusic.com">OH-CR-HA-AS, IJW Systems.</author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="SplashScreen" value="screen-xhdpi-portrait.png" />
    <preference name="SplashScreenDelay" value="10000" />
    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
    <icon src="icon.png" />

    <gap:splash src="screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi" />

    <access origin="*" />

</widget>