body {

    background: rgb(204, 22, 143);
    background: rgba(204, 22, 143, 0.81);
}

.button--large--cta {
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 17px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    text-decoration: none;
    padding: 4px 10px;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0;
    color: #fff;
    vertical-align: middle;
    background-color: rgba(24, 103, 194, 0.81);
    border: 0px solid currentColor;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    border: none;
    background-color: #25a6d9;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: 36px;
    padding: 4px 12px;
    width: 60%;
    text-align: center;
    display: block;
    margin-left: 20%;
}

.button--large--cta:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.button--large--cta:focus {
    outline: 0;
}

.button--large--cta:active {
    color: #fff;
    background-color: #25a6d9;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    opacity: 0.55;
}

.button--large--cta:disabled,
.button--large--cta[disabled] {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}
.text-input {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  line-height: 1;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #f9f9f9;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #1f1f21;
  padding: 4px 8px 0 8px;
  margin: 0;
  font-size: 15px;
  height: 31px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.text-input::-webkit-input-placeholder,
.text-input::-moz-placeholder,
.text-input::-ms-input-placeholder {
  color: #999;
}
.text-input:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.text-input:disabled::-webkit-input-placeholder,
.text-input:disabled::-moz-placeholder,
.text-input:disabled:-ms-input-placeholder {
  color: #999;
}
.text-input:invalid {
  border: 1px solid #ddd;
  color: #1f1f21;
}
